<header class="jumbotron">
  <h1 class="text-center">{{title}}</h1>

</header>
<div class="container">

  <div class="row">


    <div class="col-md-12">
      <form>
        <div class="input-group">

          <span class="input-group-btn">
            <a [routerLink]="['/cadastro']" class="btn btn-primary">Teste</a>
          </span>

          <input (input)="0" #TextoProcurado type="text" class="form-control">                    

        </div>
        
      </form>
    </div>


  </div>
  <br>

  <div class="row">
  
    <painel *ngFor="let foto of fotos | filtroPorTitulo:TextoProcurado.value" titulo="{{foto.titulo}}" class="col-sm-2">
      
      <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
       <button (click)="remover(foto._id)" class="btn btn-danger">btn</button>
    </painel>
  </div>

</div>
