<header class="jumbotron">
  <h1 class="text-center">cadastro</h1>
</header>

<div class="container">
  <div class="row">
    
    <form [formGroup]="formCadastro" class="col-md-6" (submit)="cadastrar($event)">
      <div class="form-group">
        <label for="">Titulo</label>
        <input
          formControlName="titulo"
          name="titulo"
          [(ngModel)] = "foto.titulo"
          class="form-control">
          <div *ngIf="!formCadastro.controls.titulo.valid">

          <span *ngIf="formCadastro.controls.titulo.errors.required" class="form-control alert-danger">
          Erro
          </span>
         <span *ngIf="formCadastro.controls.titulo.errors.minlength" class="form-control alert-danger">
          Erro
          </span>
          </div>
      </div>
      
      
      <div class="form-group">
        <label for="">URL</label>
        <input
          formControlName="url"        
          name="url"
          [(ngModel)] = "foto.url"
        class="form-control">

        <span *ngIf="formCadastro.controls.url.invalid" class="form-control alert-danger">
          URL obrigatorio
        </span>
      </div>
      
      <div class="form-group">
        <label for="">Descrição</label>
        <textarea
           formControlName="descricao"          
           name="descricao"
          [(ngModel)] = "foto.descricao"
        class="form-control">
        </textarea>
      </div>

      <button [disabled]="formCadastro.invalid" type="submit" class="btn btn-default">Salvar</button>

      <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
    </form>
    <div class="col-md-6">
      <painel titulo="{{foto.titulo}}">
        <foto url="{{foto.url}}"></foto>
      </painel>
    </div>
  </div>
</div>